[submodule ".vim/bundle/neobundle.vim"]
  path = .vim/bundle/neobundle.vim
  url = git://github.com/Shougo/neobundle.vim.git
[submodule "zsh/auto_fu"]
  path = zsh/auto_fu
  url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/m4i/cdd.git
[submodule "zsh/auto-fu"]
	path = zsh/auto-fu
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "zsh/z"]
	path = zsh/z
	url = git://github.com/rupa/z.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = git://github.com/nakamuray/zaw.git
[submodule "zsh/cdd"]
	path = zsh/cdd
	url = git://github.com/m4i/cdd.git
[submodule "zsh/git/src/git"]
	path = zsh/git/src/git
	url = git://github.com/git/git.git
