[submodule ".vim/bundle/neobundle.vim"]
  path = .vim/bundle/neobundle.vim
  url = git://github.com/Shougo/neobundle.vim.git
[submodule "zsh/auto_fu"]
  path = zsh/auto_fu
  url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "zsh"]
  path = zsh
  url = git://github.com/m4i/cdd.git
[submodule "zsh/z"]
  path = zsh/z
  url = git://github.com/rupa/z.git
[submodule "zsh/git/src/git"]
  path = zsh/git/src/git
  url = git://github.com/git/git.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
